<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310870284626-tj3ln1jskrdgm4pl01ch2sgch5l2cqos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310870284626-tj3ln1jskrdgm4pl01ch2sgch5l2cqos</string>
	<key>API_KEY</key>
	<string>AIzaSyAqFYA9LblAJF-3JtrlDVzc2RTvROIkaPw</string>
	<key>GCM_SENDER_ID</key>
	<string>310870284626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>firestore-search-pub</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-search-pub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310870284626:ios:37719d4cbb94369412828b</string>
</dict>
</plist>